node_modules/
.expo/
.expo-shared/
dist/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
apps/**/.dart_tool/
apps/**/build/
coverage/
artifacts/*.zip
.env
.env.local
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.keystore
*.jks
*.p8
*.p12
*.mobileprovision
*.orig
